<head>
    <title>Profile</title>
</head>

<body>

<center>
    <img src = '<%= data.profile_picture %>' width="200" height="200" /><hr>
    <h1><%= data.fname%> <%= data.lname%> </h1><br><br><hr>
    <h2><%= data.branch%> || <%= data.roll%> </h2><br><br><hr>
    <h2><%= data.stack%> </h2><br><br>
</center>


</body>