<head>
    <title>Profile</title>
</head>

<body>
    <p>
        <a href = '/' >Home</a> 
    </p>  
<center>
    <img src = '<%= data.profile_picture %>' width="200" height="200" /><hr>
    <h1><%= data.fname%> <%= data.lname%> </h1><hr>
    <h2><%= data.branch%> || <%= data.roll%> </h2><hr>
    <h2>Stack : <%= data.stack%> </h2><hr>
    <h2>Interests : <%= data.interests%></h2>
</center>


</body>